Repository MozillaSecurity/grizzly: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(html)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude_types: [json]
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [ commit-msg ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: tox -e mypy --
        language: system
        require_serial: true
        exclude: (/conftest.py$|/test_.*\.py$)
        types: [python]
      - id: pylint
        name: pylint
        entry: tox -e pylint --
        language: system
        require_serial: true
        types: [python]

default_language_version:
  python: python3

exclude: '.*wpt_h3_server/.*'

fix(reduce): support post launch delay during analysis
  src/grizzly/reduce/core.py
  src/grizzly/reduce/test_reduce.py
Due: mypy, pylint

fix(target): remove MOZ_DISABLE_NONLOCAL_CONNECTIONS
  src/grizzly/target/fenix_target.py
  src/grizzly/target/firefox_target.py
Due: mypy, pylint

feat(sapphire): use of SharedArrayBuffer requires cross-origin isolation
  src/sapphire/test_worker.py
  src/sapphire/worker.py
Due: mypy, pylint

feat(report): add Report.dedup_lines()
  src/grizzly/common/report.py
  src/grizzly/common/test_report.py
Due: mypy, pylint

test(replay): remove use of invalid arg
  src/grizzly/replay/test_main.py
Due: pylint

test(replay): use http for test_main_09
  src/grizzly/replay/test_main.py
Due: pylint

feat: make stderr and stdout logs accessible via http
  src/grizzly/replay/replay.py
  src/grizzly/replay/test_replay.py
  src/grizzly/session.py
  src/grizzly/target/firefox_target.py
  src/grizzly/target/target.py
  src/grizzly/target/test_firefox_target.py
  src/grizzly/target/test_target.py
  src/grizzly/test_session.py
Due: mypy, pylint

ci: use PyPI trusted publisher (OIDC) for publishing
  .github/workflows/ci.yml
Due: none

ci: remove codecov token
  .github/workflows/ci.yml
Due: none

feat(reduce): add deproxy reduction strategy
  setup.cfg
  src/grizzly/reduce/strategies/__init__.py
  src/grizzly/reduce/strategies/proxy.py
  src/grizzly/reduce/test_strategies_proxy.py
Due: mypy, pylint

feat(firefox_target): Add support to enable browser sandbox
  setup.cfg
  src/grizzly/target/firefox_target.py
  src/grizzly/target/test_firefox_target.py
Due: mypy, pylint

test: fix syntax
  src/grizzly/replay/test_main.py
  src/sapphire/test_sapphire.py
Due: pylint

build: use bugsy from mozilla security on github
  setup.cfg
Due: none

build: revert to bugsy in pypi to fix upload
  setup.cfg
Due: none

feat(target): accept a log filesize limit
  src/grizzly/target/fenix_target.py
  src/grizzly/target/firefox_target.py
  src/grizzly/target/target.py
  src/grizzly/target/test_fenix_target.py
  src/grizzly/target/test_firefox_target.py
  src/grizzly/target/test_target.py
Due: mypy, pylint

fix(report): always perform log line de-duplication
  src/grizzly/common/report.py
Due: mypy, pylint

refactor(report): move Report constants to module level
  src/grizzly/common/report.py
  src/grizzly/common/test_report.py
  src/grizzly/target/fenix_target.py
  src/grizzly/target/firefox_target.py
  src/grizzly/target/target.py
  src/grizzly/target/test_firefox_target.py
  src/grizzly/target/test_target.py
Due: mypy, pylint
