Repository MozillaSecurity/grizzly: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: tox -e mypy --
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: tox -e pylint --
  language: system
  require_serial: true

fix(tests): prevent scanning sig dir if it exists
  src/grizzly/common/test_report.py
Due: pylint

fix: improve types and type hinting
  src/grizzly/adapter/adapter.py
  src/grizzly/adapter/no_op_adapter/__init__.py
  src/grizzly/common/bugzilla.py
  src/grizzly/common/fuzzmanager.py
  src/grizzly/common/status.py
  src/grizzly/common/status_reporter.py
  src/grizzly/common/storage.py
  src/grizzly/reduce/strategies/__init__.py
  src/grizzly/reduce/strategies/beautify.py
  src/grizzly/reduce/strategies/lithium.py
  src/grizzly/reduce/strategies/testcases.py
  src/grizzly/replay/replay.py
  src/grizzly/target/assets.py
  src/sapphire/job.py
Due: mypy, pylint

fix: avoid database connection timeout in interprocess_lock()
  src/grizzly/common/test_utils.py
  src/grizzly/common/utils.py
Due: mypy, pylint

fix: replace interprocess_lock() with fasteners
  setup.cfg
  src/grizzly/common/cache.py
  src/grizzly/common/test_cache.py
  src/grizzly/common/test_utils.py
  src/grizzly/common/utils.py
Due: mypy, pylint

fix(tests): update mocking in cache tests
  src/grizzly/common/test_cache.py
Due: pylint

refactor: use future annotations and remove Optional type
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

refactor: add explicit imports for os methods
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

docs: remove unnecessary type defintion from docstring
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

fix: move pathlib import into type checking block
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

fix: a few more minor nits
  src/grizzly/services/core.py
  src/grizzly/services/webtransport/core.py
  src/grizzly/services/webtransport/test_webtransport.py
Due: mypy, pylint

docs: add explanation for over-riding wpt _doc_root global
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

fix: use threading event to track service start
  src/grizzly/services/webtransport/core.py
  src/grizzly/services/webtransport/test_webtransport.py
Due: mypy, pylint

feat: add start method to BaseService
  src/grizzly/services/base.py
Due: mypy, pylint

docs: remove trailing period in single sentence docstrings
  src/grizzly/services/base.py
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

fix(reduce): address minor nits
  src/grizzly/reduce/core.py
Due: mypy, pylint

fix(sapphire): use correct type
  src/sapphire/core.py
  src/sapphire/job.py
Due: mypy, pylint

fix(sapphire): remove asserts now covered by type checking
  src/sapphire/core.py
  src/sapphire/worker.py
Due: mypy, pylint

fix(sapphire): use auto() with Served
  src/sapphire/job.py
Due: mypy, pylint

fix(sapphire): improve docs and debug log output
  src/sapphire/core.py
  src/sapphire/job.py
Due: mypy, pylint

fix(sapphire): use more specific FileNotFoundError
  src/sapphire/server_map.py
  src/sapphire/test_server_map.py
Due: mypy, pylint

ci(wip): add initial github actions workflow
  .github/workflows/ci.yml
Due: none

ci: add Python 3.13
  .pre-commit-config.yaml
  .taskcluster.yml
Due: none

Remove branch condition
  .github/workflows/ci.yml
Due: none

Replace invalid expression
  .github/workflows/ci.yml
Due: none

Set toxenv in matrix
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (/conftest.py$|/test_.*\.py$)
  pylint: any of: \.py$
