Repository MozillaSecurity/grizzly: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.5
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/MozillaSecurity/orion-ci
    rev: v0.0.10
    hooks:
      - id: orion_ci
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [ commit-msg ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: tox -e mypy --
        language: system
        require_serial: true
        exclude: (/conftest.py$|/test_.*\.py$)
        types: [python]
      - id: pylint
        name: pylint
        entry: tox -e pylint --
        language: system
        require_serial: true
        types: [python]

default_language_version:
  python: python3

Disable fast-fail
  .github/workflows/ci.yml
Due: none

Use codecov gh-action
  .github/workflows/ci.yml
Due: none

Disable Taskcluster
  .codecov.yml
  .github/scripts/start-worker.sh
  .github/workflows/taskcluster-pr.yml
  .github/workflows/taskcluster-push.yml
  .github/workflows/taskcluster-release.yml
  .taskcluster.yml
Due: none

Use tox to upload to codecov
  .github/workflows/ci.yml
  tox.ini
Due: none

Allow PRs on test branch
  .github/workflows/ci.yml
Due: none

Update ci.yml in a benign way that you shouldn't worry about
  .github/workflows/ci.yml
Due: none

ci(wip): add initial github actions workflow
  .github/workflows/ci.yml
Due: none

ci: fix actions workflow to match taskcluster
  .github/workflows/ci.yml
  tox.ini
Due: none

fix: webtransport service test main was broken on Windows
  src/grizzly/services/webtransport/__main__.py
  src/grizzly/services/webtransport/core.py
Due: mypy, pylint

ci: disable Taskcluster
  .codecov.yml
  .github/scripts/start-worker.sh
  .github/workflows/taskcluster-pr.yml
  .github/workflows/taskcluster-push.yml
  .github/workflows/taskcluster-release.yml
  .pre-commit-config.yaml
  .taskcluster.yml
Due: none

ci: run lint before tests
  .github/workflows/ci.yml
Due: none

ci: update status badge
  README.md
Due: none

fix(target): remove unused clone_log()
  src/grizzly/target/puppet_target.py
  src/grizzly/target/target_monitor.py
  src/grizzly/target/test_puppet_target.py
  src/grizzly/target/test_target_monitor.py
Due: mypy, pylint

fix: remove asserts that are not needed
  src/grizzly/adapter/adapter.py
  src/sapphire/worker.py
Due: mypy, pylint

test(sapphire): make test more accurately reflect reality
  src/grizzly/target/test_puppet_target.py
Due: pylint

fix: handle deprecated pkg_resources usage in one place
  src/grizzly/common/plugins.py
  src/grizzly/common/utils.py
  src/grizzly/reduce/strategies/__init__.py
Due: mypy, pylint

refactor(target): create merge_sanitizer_options()
  setup.cfg
  src/grizzly/target/puppet_target.py
  src/grizzly/target/test_puppet_target.py
Due: mypy, pylint

fix(target): add required methods to ADBTarget
  src/grizzly/target/adb_target.py
Due: mypy, pylint

feat(target): add type hinting
  setup.cfg
  src/grizzly/target/adb_target.py
Due: mypy, pylint

test(target): use fxpoppet in tests
  src/grizzly/target/test_adb_target.py
Due: pylint

feat(target): add Firefox Android target
  src/grizzly/target/adb_target.py
  src/grizzly/target/test_adb_target.py
Due: mypy, pylint

fix(target): remove ADBMonitor.clone_log()
  src/grizzly/target/adb_target.py
Due: mypy, pylint

feat(target): add endpoint for firefox on android
  setup.cfg
  src/grizzly/args.py
Due: mypy, pylint

fix: remove unused NAME from no-op adapter
  src/grizzly/adapter/no_op_adapter/__init__.py
Due: mypy, pylint

fix(harness): set default time limit of 0
  src/grizzly/common/harness.html
Due: none
