Repository MozillaSecurity/grizzly: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.5
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/MozillaSecurity/orion-ci
    rev: v0.0.10
    hooks:
      - id: orion_ci
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [ commit-msg ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: tox -e mypy --
        language: system
        require_serial: true
        exclude: (/conftest.py$|/test_.*\.py$)
        types: [python]
      - id: pylint
        name: pylint
        entry: tox -e pylint --
        language: system
        require_serial: true
        types: [python]

default_language_version:
  python: python3

ci: update linters
  .pre-commit-config.yaml
  src/grizzly/common/fuzzmanager.py
  src/grizzly/common/report.py
  src/grizzly/common/reporter.py
  src/grizzly/common/status.py
  src/grizzly/common/storage.py
  src/grizzly/main.py
  src/grizzly/reduce/strategies/__init__.py
  src/grizzly/reduce/strategies/beautify.py
  src/grizzly/replay/replay.py
  src/grizzly/services/core.py
  src/sapphire/core.py
  tox.ini
Due: mypy, pylint

refactor(sapphire): Sapphire.serve_path() now returns ServeResult
  src/grizzly/common/runner.py
  src/grizzly/common/test_runner.py
  src/grizzly/replay/test_main.py
  src/grizzly/replay/test_replay.py
  src/grizzly/test_session.py
  src/sapphire/__init__.py
  src/sapphire/core.py
  src/sapphire/job.py
  src/sapphire/test_sapphire.py
Due: mypy, pylint

feat: use worker to poll tab
  src/grizzly/common/harness.html
Due: none

style: apply prettier
  src/grizzly/common/harness.html
Due: none

feat(fenix_target): update to support fxpoppet changes
  setup.cfg
  src/grizzly/target/fenix_target.py
  src/grizzly/target/test_fenix_target.py
Due: mypy, pylint

feat(fenix_target): update to support fxpoppet changes
  pyproject.toml
  setup.cfg
  src/grizzly/common/status.py
  src/grizzly/common/status_reporter.py
  src/grizzly/target/fenix_target.py
  src/grizzly/target/test_fenix_target.py
Due: mypy, pylint

refactor: create main.py for replay and reduce
  src/grizzly/reduce/__main__.py
  src/grizzly/reduce/core.py
  src/grizzly/reduce/crash.py
  src/grizzly/reduce/main.py
  src/grizzly/reduce/test_main.py
  src/grizzly/reduce/test_main_fm.py
  src/grizzly/replay/__main__.py
  src/grizzly/replay/bugzilla.py
  src/grizzly/replay/conftest.py
  src/grizzly/replay/crash.py
  src/grizzly/replay/main.py
  src/grizzly/replay/replay.py
  src/grizzly/replay/test_bugzilla.py
  src/grizzly/replay/test_main.py
  src/grizzly/replay/test_main_fm.py
Due: mypy, pylint

refactor: move load_testcase() to storage.py
  src/grizzly/common/storage.py
  src/grizzly/common/test_storage.py
  src/grizzly/reduce/main.py
  src/grizzly/reduce/test_main.py
  src/grizzly/replay/main.py
  src/grizzly/replay/replay.py
  src/grizzly/replay/test_main.py
  src/grizzly/replay/test_replay.py
Due: mypy, pylint

fix(tests): use raw strings when required
  src/grizzly/common/test_storage.py
Due: pylint

fix: remove unspecified-encoding pylint suppression
  pyproject.toml
  src/grizzly/args.py
Due: mypy, pylint

refactor: switch from use of ABCMeta to ABC
  src/grizzly/adapter/adapter.py
  src/grizzly/common/reporter.py
  src/grizzly/target/target.py
  src/grizzly/target/target_monitor.py
Due: mypy, pylint

chore: remove unused fallback case
  src/grizzly/replay/replay.py
Due: mypy, pylint

chore: remove assertions that are now covered by type checking
  src/grizzly/common/fuzzmanager.py
  src/grizzly/common/plugins.py
  src/grizzly/common/reporter.py
  src/grizzly/common/stack_hasher.py
  src/grizzly/common/status.py
  src/grizzly/common/storage.py
  src/grizzly/replay/replay.py
  src/grizzly/target/target.py
  src/loki/loki.py
Due: mypy, pylint

fix(reduce): disable lithium repeat last feature
  src/grizzly/reduce/strategies/lithium.py
Due: mypy, pylint

fix(reduce): always report other results
  src/grizzly/reduce/core.py
Due: mypy, pylint

fix: explicitly check that pollIntervall is null
  src/grizzly/common/harness.html
Due: none

ci: add prettier
  .pre-commit-config.yaml
  src/grizzly/common/post_launch_delay.html
Due: none

fix(reduce): disable lithium repeat last feature
  src/grizzly/reduce/strategies/lithium.py
  src/grizzly/reduce/test_reduce.py
  src/grizzly/reduce/test_strategies.py
Due: mypy, pylint

feat(reduce): add beautifulsoup prettify strategy
  setup.cfg
  src/grizzly/reduce/strategies/__init__.py
  src/grizzly/reduce/strategies/beautifulsoup.py
  src/grizzly/reduce/test_strategies_beautifulsoup.py
Due: mypy, pylint

fix(reduce): collapse empty tags when using beautifulsoup strategy
  src/grizzly/reduce/strategies/beautifulsoup.py
  src/grizzly/reduce/test_strategies_beautifulsoup.py
Due: mypy, pylint

feat(reduce): detect when prettify has no affect
  src/grizzly/reduce/strategies/beautifulsoup.py
  src/grizzly/reduce/test_strategies_beautifulsoup.py
Due: mypy, pylint
